<div class="card" id="_id">
    <div class="card-header">
        <div class="title">
            <a href={{link}}>{{title}}</a>
        </div>
        <div class="author">
            {{author}}
        </div>
    </div>
    <div class="card-body">
        <div class="image">
            {{image}}
        </div>
        <div class="preview">
            {{preview}}
        </div>
         <div class="comments">
            {{comments}}
        </div>
    </div>
    <div class="card-footer">
        <i class="far fa-heart" id="{{_id}}"></i>
    </div>
</div>
